[Desktop Entry]
Type=Application
Name=Office 365 Suite (Community Client)
GenericName=Office Suite Client
Comment=Community desktop integration for Office 365 web apps and OneDrive synchronization

Exec=m365-linux %F

Icon=io.github.DavidNi05.Microsoft365_for_Linux_Unofficial

Terminal=false
StartupNotify=true

Categories=Office;Network;
MimeType=application/msword;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;

StartupWMClass=Office 365 Suite (Community Client)

Actions=ResetData;

[Desktop Action ResetData]
Name=Reset All Data (Factory Reset)
Name[pt_BR]=Restaurar Padrões de Fábrica (Limpar Dados)
Exec=m365-linux --reset
